.heading-color {
  color: #5e56e7;
}

.title {
  color: black;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.author {
  color: #bdb7b7;
  font-size: 14px;
  line-height: 1.5;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.img-fit {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.bi-search-back {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url('/icons/Back.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.bi-search {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url('/icons/Search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.bi-search-cancel {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url('/icons/Cancel.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease;
  margin-right: 10px;
  cursor: pointer;
}