<div class="container py-3">
    <div class="d-flex align-items-center mb-3">
        <a routerLink="/"><i class="bi bi-search-back"></i></a>
        <h5 class="mb-0 fw-semibold heading-color ml-2">{{categoryName()}}</h5>
    </div>
    <div class="position-relative">
        <span class="position-absolute top-50 start-0 translate-middle-y ms-3 text-muted">
            <i class="bi bi-search"></i>
        </span>
        <input 
            name="searchText" 
            [value]="searchVal"
            (input)="onSearch($event.target.value)" 
            type="text" class="form-control ps-5 pe-5 rounded-3" 
            placeholder="Search"
         />
        @if (searchVal) {
            <span (click)="resetSearch()" class="position-absolute top-50 end-0 translate-middle-y me-3 text-muted cursor-pointer">
                <i class="bi bi-x-lg bi-search-cancel"></i>
            </span>
        }
    </div>
    <div class="row">
        @for (book of booksArr(); track book?.id) {
            <div class="col-4 col-md-2">
                <div class="card mt-3">
                    <div class="card-body p-0">
                        <img loading="lazy" class="img-fit" [src]="getPriortyImage(book)" [title]="book?.title">
                        <div class="basic-info p-1">
                            <p class="title">{{getBookTittle(book?.title)}}</p>
                            <span class="author">{{getBookAuthor(book?.authors[0]?.name)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <app-loader [loader]="loading()"></app-loader>
    <div appLoadMore [callBackFn]="loadMore" [offset]="200">
</div>