@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-primary: 'Montserrat', sans-serif;
$fs-md: 16px;
$lh-md: 1.5;
$text-color: #1f2937;
$primary: #5e56e7;
$border-radius: 1rem;

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  font-size: $fs-md;
  line-height: $lh-md;
  color: $text-color;
}


.bi-arrow-right {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url('/icons/Next.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.2s ease;
}

.text-primary {
  color: $primary !important;
}